form{
    background-color: rgba(49, 196, 68, 0.548);
    width: 500px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px 30px;
    margin-top: 0vh;
    border-radius: 10px;
    align-items: center;
    justify-content: center;   
}
