/*Corpo do Site */
body{
    height: 2000px;
}

*{
    margin: 0 auto;
    padding: 50;
    box-sizing: border-box;
    font-size: 100%
}

/* Estrutura do Menu */
#menu-h{
    background-color: rgb(0, 185, 157);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

#menu-h ul{
    max-width: 10000px;
    list-style: none;
    padding: 0;
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
/* BG Letras */
#menu-h ul li a:hover{
    background-color: rgb(9, 163, 140);
    padding: 20px;
    border-radius:10px ;
}
#titulo{
    font-size: 400%;
    color: rgb(0, 107, 84);
    margin: 2%;
}
#conteudo{
    font-size: 150%;
    color: rgb(4, 85, 67);
    margin: 2%;
}
#button{
    background-color: rgb(0, 158, 105);
}

/* Posição das letras do Menu*/
li{
    position: relative;
    left: 300px;
    right: 900px;
}

/*Logo do Menu */
img{
    position: relative;
    right: -5px;
}

#futsal{
    background-color:rgb(1, 127, 125) ;
    width: 350px;
    margin-left: -30px;
    margin-right: 50px;
    padding: 20px 30px;
    margin-top: 500px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-size: 125%;
    font-family: "Lucida Console", Courier, monospace;
}

#volei{
    background-color:rgb(1, 127, 125) ;
    width: 350px;
    margin-left: 385px;
    margin-right: 500px;
    padding: 20px 30px;
    margin-top: -142px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-size: 125%;
    font-family: "Lucida Console", Courier, monospace;
}

#basquete{
    background-color:rgb(1, 127, 125) ;
    width: 350px;
    margin-left: 800px;
    margin-right: 50px;
    padding: 20px 30px;
    margin-top: -142px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-size: 125%;
    font-family: "Lucida Console", Courier, monospace;
}
